<div class="card">
    <h1>Acerca de nosotros</h1>
    <h2>Traductor Native</h2>
        <p>EL traductor se realizo con el fin de conservar la lengua Tucano o Jepamasã tambien conocidos como la etnia Tucano, 
            perteneciente a los Tucano oriental .</p>
        <p>Aunque hay muchos terminos o palabras de los Jepamasã; que no existe la 
            traducción porque en ese tiempo no se usaban o no conocían esos terminos.   <br>
            Actualmente solo esta disponible la funcion traducir la escritura, a futuro se implementará su pronunciación.
        </p>

        <h2>Como funciona?</h2>
        <p>Solo debe digitar la palabra o frase que desea traducir, elegir el idioma y como resultado mostrara la traducción, 
            en el idioma que haya elegido, en este caso de Tucano a Español o de Español a Tucanno.</p>

        <h2>Creadoras</h2>
    <p>Aprendices del Tecnologo ADSI (Análisis y Desarrollo de Sistemas de Información), Daniela Avellaneda, Deimi Gomez, Lizbeth Caro.</p>
</div>

